label {
	color : lightgray;
}
body { background-image: url(http://hdqwalls.com/wallpapers/destiny-2-shadowkeep-fv.jpg); background-repeat: no-repeat;
  background-position: center center; 
	
} 
head {
	color: silver ;
}
h1 {
	color: darkgray ;
}